{% load static %}
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>My List</title>
        </head>
        <main>
            <div>
                <h1>My List</h1>
            </div>
            <table>
                <tr>
                    <td>name</td>
                    <td>Number of Items</td>
                </tr>
                <tbody>{% for todo in list %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' todo.id %}">{{todo.name}}</a>
                    </td>
                </tr>
                    {% endfor %}
                </tbody>

            </table>
        </main>
    <body>
    </body>
</html>
